@import url(https://fonts.google.com/specimen/Lexend);

:root {
    --bg-color:             #0a0a0a;
    --footer-bg-color:      #161616;
    --main-pink:            #9929ea;
    --main-purple:          #5808fb;
    
    --normal-brightness:    #ffffff38;
    --pink-brightness:      #9a29ea80;
    --normal-shadow:        #00000079;
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

/*/=====> MAIN HTML <=====/*/

* {
    padding: 0px auto;
    margin: 0px auto;
}

body {
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

/*/=====> HEADER <=====/*/

.gy-header {
    background-image: url(../img/gy-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 100%;
    height: 245px;
    z-index: 2;
    position: relative;
    filter: drop-shadow(0px 10px 10px var(--normal-shadow));
    display: flex;
    flex-direction: row;
}

.left-box-list {
    display: flex;
    color: white;
    width: 50%;
    height: 35%;
    align-items: center;
    padding: 0;
    margin-left: 2%;
}

.right-box-list {
    display: flex;
    color: white;
    width: 50%;
    height: 35%;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    gap: 5rem;
    margin-right: 2%;
}

.left-list {
    width: 100%;
    list-style: none;

    transition: .5s;
}

.right-list {
    list-style: none;
    padding: 0;
    margin: 0;

    transition: .5s;
}

.left-list:hover, .right-list:hover {
    cursor: pointer;
    transition: .5s;
    
    /*TODO. Hover */
}

.list-text {
    font-size: 20px;
    font-family: 'Lexend';
    font-weight: bold;
    letter-spacing: 1px;

    background: #ccc;
	background: linear-gradient(0deg, var(--main-purple), var(--main-pink));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

/*/=====> ANNOUNCEMENTS BG <=====/*/

.bground {
    position: absolute;

    width: 100%;
    height: 100%;
    
    filter: brightness(30%);

    top: 0%;

    z-index: 0;
}

.bground img {
    width: 100%;
    height: 120%;
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

/*/=====> ANNOUNCEMENTS BOX <=====/*/

.announcements-box {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    z-index: 2;
    height: 50%;
    
    gap: 2rem;
    margin-top: 3%;
}

.announcements-logo {
    height: 60%;
    filter: brightness(20) drop-shadow(0px 0px 10px #ffffff75);
}

.announcements-button {
    width: 150px;
    height: 50px;
	background: var(--bg-color);
    font-weight: bold;
    font-family: 'Lexend';
    color: white;
    border: 2px solid var(--main-pink);
    border-radius: 6px;

    transition: .5s;
}

.announcements-button:hover {
    cursor: pointer;
    
    transition: .5s;

    filter: drop-shadow(0px 0px 10px var(--pink-brightness));
}

.announcements-develop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 20%;

    gap: 5%;
}

.announcements-ver {
    color: white;

    font-size: 12px;
    font-family: 'Lexend';
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

/*/=====> DIVIDER 1 <=====/*/

.gy-divider-1 {
    position: absolute;
    height: 21%;
    top: 102vh;

    z-index: 2;
}

.gy-divider-1 img {
    height: 100%;

    filter: drop-shadow(0px 0px 10px var(--normal-shadow));
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

/*/=====> MAIN PAGE <=====/*/

.main-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 2000px;

    margin-top: 15%;

    background: var(--bg-color);
}

.main-page-head {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 20%;
}

.main-page-title {
    height: 17%;
    margin-top: 1.5%;
    margin-bottom: 2.5%;

    z-index: 3;
}

.main-page-subtitle {
    color: white;

    font-size: 14px;
    font-family: 'Lexend';
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

/*/=====> DIVIDER 2 <=====/*/

.gy-divider-2 {
    position: absolute;
    width: 100%;
    margin-top: -10%;
}

.gy-divider-2 img {
    width: 100%;
}



/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

/*/=====> FOOTER <=====/*/

.end-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-end;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 500px;

    background: var(--footer-bg-color);
}

.media-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 0px;

    width: 10%;
    height: 20%;
}

.media-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 60px;
    height: 60px;

    border-radius: 6px;
}

.media-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 100%;

    filter: invert();

    transition: .5s;
}

.media-img:hover {
    cursor: pointer;

    transition: .5s;

    filter: invert() drop-shadow(0px 0px 10px var(--normal-brightness));
}

.copyright-txt {
    color: #ffffff77;

    font-family: 'Lexend';
    font-weight: 100;
    font-size: 15px;

    margin-bottom: 1.5%;

    pointer-events: none;
}